<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Questions</key>
	<array>
		<string>🇺🇸</string>
		<string>🇬🇧</string>
		<string>🇯🇵</string>
		<string>🇬🇪</string>
		<string>🇳🇵</string>
		<string>🇵🇦</string>
		<string>🇪🇪</string>
		<string>🇦🇴</string>
		<string>🇨🇾</string>
		<string>🇱🇻</string>
	</array>
	<key>Answers</key>
	<array>
		<string>U N I T E D   S T A T E S</string>
		<string>U N I T E D   K I N G D O M</string>
		<string>J A P A N</string>
		<string>G E O R G I A</string>
		<string>N E P A L</string>
		<string>P A N A M A</string>
		<string>E S T O N I A</string>
		<string>A N G O L A</string>
		<string>C Y P R U S</string>
		<string>L A T V I A</string>
	</array>
</dict>
</plist>
