<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Questions</key>
	<array>
		<string>🗡🏃‍♂️</string>
		<string>🚗🚗🚗</string>
		<string>👑💍</string>
		<string>👻🚫</string>
		<string>🕷👨‍💼</string>
		<string>🦖🎪</string>
		<string>🏴‍☠️🏝</string>
		<string>🦈</string>
		<string>💿↩️💾</string>
		<string>🏈🇻🇳🔫🏓🦐🏃‍♂️🍫👶</string>
	</array>
	<key>Answers</key>
	<array>
		<string>B L A D E   R U N N E R</string>
		<string>C A R S</string>
		<string>L O R D   O F   T H E   R I N G S</string>
		<string>G H O S T B U S T E R S</string>
		<string>S P I D E R M A N</string>
		<string>J U R A S S I C   P A R K</string>
		<string>P I R A T E S   O F   T H E   C A R I B B E A N</string>
		<string>J A W S</string>
		<string>B A C K   T O   T H E   F U T U R E</string>
		<string>F O R R E S T   G U M P</string>
	</array>
</dict>
</plist>
